<div class="card">
    <div class="card-header">
        <p class="card-text">Reserva BOOKING.STATUS  para BOOKING.PERSONS personas el día BOOKING.DATE</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">BOOKING.CLIENT - BOOKING.PHONE</h5>
      <p class="card-text">Email: BOOKING.EMAIL</p>
      <p class="card-text">Nº personas: BOOKING.PERSONS</p>
      <p class="card-text">Notas del cliente: BOOKING.NOTES</p>
      <button class="btn btn-primary">Modificar reserva</button>
      <button class="btn btn-primary" (click)="eliminarReserva(booking.id)">Borrar reserva</button>
    </div>
  </div>